@font-face {
    font-family: DOTMATRI;
    src: url(../fonts/DOTMATRI.TTF);
}

@font-face {
    font-family: DOTMBold;
    src: url(../fonts/DOTMBold.TTF);
}

#titleRow {
font-family: "DOTMBold";
font-size: 50px;
text-align: center;
padding-top: 20px;
}

#timerRow {
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
border-radius: 25px;
color:white;
text-align: center;
border-style: solid;
border-color: darkblue;
border-width: 2px;
background-color: darkblue;
margin-top:20px;
margin-bottom:20px;

}
body {
    background-image: url("../images/techBackground3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
    background-size: cover;
}

#directions {
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;

}

#questionRow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    /* padding-top: 20px; */

}
#box {
   margin: 2%;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(178,202,192);
    border-width: 4px;
    background-color:rgb(237,233,232);
    height: 500px;
    }

.btn {
    background-color: darkblue;
}
#gifHolder {
    border-radius: 25px;
    border-style:solid;
    border-width:2px;
    border-color:white;
    margin: auto;
}
.results{
    margin-top:40px;
    font-family: "DOTMATRI";
    font-size: 30px;
    text-align: center;
}
    